.carousel {width: 100%; overflow: hidden;}
.carousel img {
	display: block;
	width: 100%;
	height: auto;
	max-height: 492px;
	max-width: 100%;
	margin:0;
}
.carousel h2 {
	font-size:1em;
    padding:0.5em;
    position:absolute;
    right:10px;
    bottom:10px;
    left:10px;
    text-align:right;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
    transition: all .1s ease;
    cursor: -webkit-zoom-in;
    z-index: 10;
}
.carousel h2:hover {
    font-size: 3em;
    padding: 2.5em;
    text-align: center;
}
.carousel .panes {
	width: 500%;
	list-style: none;
	position: relative;

	-moz-animation:carousel 40s infinite;
	-webkit-animation:carousel 40s infinite;
	animation: carousel 40s infinite;
}
.carousel .panes > li {
	position: relative;
	overflow: hidden;
	float: left; /*todas na mesma posição*/
	width: 20%; /*Todas imagens com 20% de largura*/
    transition: all 1.5s ease; 
    border-radius: 8px;
    cursor: -webkit-zoom-in;
}
.carousel .panes > li img {
    transition: all .2s ease; 
    border-radius: 8px;
}
.carousel .panes > li img:hover { 
    transform: scale(1.5); 
}
.carousel .panes > li:nth-child(1) img:hover, .carousel .panes > li:nth-child(4) img:hover , .carousel .panes > li:nth-child(5) img:hover { 
    transform: scale(1.1); 
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

@media (max-width: 1200px) {
	section {
		width: 80%;
	}
}

@media (max-width: 992px) {
	section {
		width: 95%;
	}
}